<header>
  <div
    class="container mx-auto grid grid-cols-1 gap-5 justify-between bg-zinc-900"
  >
    <div class="menu-header">
      <a href="" class="logo text-rose-50">Logo</a>
      <nav class="flex justify-end" *ngIf="isAuth; else isNotAuth">
        <ul class="flex gap-10 menu text-rose-50">
          <li class="hover:text-rose-800 transition-colors">
            <a routerLink="">Home</a>
          </li>
          <li class="hover:text-rose-800 transition-colors">
            <a routerLink="profile">Profile</a>
          </li>
          <li class="hover:text-rose-800 transition-colors">
            <a routerLink="todo">To do list</a>
          </li>
          <li>
            <button>
              <fa-icon [icon]="logoutIcon"></fa-icon>
            </button>
          </li>
        </ul>
      </nav>
      <ng-template #isNotAuth>
        <ul class="flex gap-10 menu">
          <li class="hover:text-rose-800 transition-colors">
            <a routerLink="signup">Signup</a>
          </li>
          <li class="hover:text-rose-800 transition-colors">
            <a routerLink="login">Login</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</header>
