
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
 

body{
     height: 100vh;
}
.container{
    max-width: 1170px;
    margin: auto;
}
@layer components{
    .input{
        @apply rounded-sm outline-none text-zinc-900 p-2;
    }
    .btn{
        @apply rounded-sm text-rose-100;
    }
}
@layer utilities{
    .btn-green {
        @apply bg-green-600 hover:bg-green-800 p-2;
    }
    .btn-confirm {
        @apply bg-rose-800 text-rose-100 border-rose-800 hover:bg-rose-100 hover:text-rose-800 p-2;
    }
}
